# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
**/*/.env.local*
**/*/.env

# Testing
.nyc_output
blob-report/
coverage
test-results/
playwright/.cache/
playwright-report/

# Turbo
.turbo

# Build Outputs
.next/
out/
build
dist

# Debug
logs
*.log
pnpm-debug.log*

# Misc
.DS_Store
*.pem
*.tsbuildinfo
